.bg {
    background-color: #000;
    color: #fff;
    border: none;
    border-bottom: 2px solid grey;
}

.bg:focus{
    background-color: #000;
    color: #fff;
    border: none;
    border-bottom: 2px 
}